/* reset */
html {
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  input,
  textarea,
  select,
  button {
    outline: none;
    font: inherit;
  }
  input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
    user-select: none !important;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none !important;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  /* Mobie: width < 740px */
  @media only screen and (max-width: 46.1875em) {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
      font-size: 16px;
    }
  }

/* base */
:root{
    --background: #333;
    --background-header: #E6D1F2;
}

@font-face {
  font-family: "UTM-NguyenHa-02";
  src: url("../fonts/UTM-NguyenHa-02.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: url("../fonts/MYRIADPRO-REGULAR.otf");
}

html, body {
    font-family: "MYRIADPRO-REGULAR", sans-serif;
    font-size: 15px;
    background-color: var(--background);
  }


/* styles */
.header{
  height: 70px;
  background-color: var(--background-header);
}

.wrapper{
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: 37px;
  gap: 54px;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: #946DAE;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.icon-header {
  display: flex;
  gap: 40px;
}

.icon-user {
  display: flex;
  gap: 50px;
}

.icon-language {
  width: 69px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #946DAE;
  cursor: pointer;
}

.container {
  max-width: 1040px;
  width: 100%;
  margin-inline: auto;
}

/* body1 */
.body1 {
}

.search {
  margin-top: 44px;
  width: 306px;
  height: 41px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #170027;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--background-header);
  border-radius: 20px;
}

.list-block__genres {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.tag-header {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
}

.list-genres {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.genre-item {
  width: 203px;
  height: 125px;
  border-radius: 5px;
  background-size: 203px 125px;
  display: flex;
  justify-content: center;
}

.genre-item__url1 {
  background-image: url("../genre-image1.png");
}

.genre-item__url2 {
  background-image: url("../genre-image2.png");
}

.genre-item__url3 {
  background-image: url("../genre-image3.png");
}

.genre-item__url4 {
  background-image: url("../genre-image4.png");
}


.genre-item__url5 {
  background-image: url("../genre-image5.png");
}

.genre-item__url6 {
  background-image: url("../genre-image6.png");
}

.genre-item__url7 {
  background-image: url("../genre-image7.png");
  background-size: 203px 125px;
}

.wrap-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-inside__genre {
  font-size: 20px;
  font-weight: 600;
  color: white;
}


/* body 2 */
.body2 {
}

.adding-space {
  height: 106px;
}

.list-game {
  display: flex;
  gap: 20px;
}

.img-game {
  width: 245px;
  height: 180px;
}

.game-item__infos {
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
}

.game-item__header {
  width: 185px;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.game-list__type {
  padding-top: 2px;
  display: flex;
  gap: 12px;
}

.game-type {
  padding: 4px 4px 2px 2px;
  border-radius: 5px;
  background: #E1CBEE;
  font-size: 11px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.discount {
  margin-top: 30px;
  width: 58px;
  height: 32px;
  padding: 8px 8px 12px 12px;
  border-radius: 20px;
  background: #946DAE;
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.game-price__old {
  font-size: 15px;
  font-weight: 400;
  color: #ADADAD;
  text-decoration: line-through;
}

.game-price__new {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

/* body 3 */
.body3 {
}

.list-paging {
  display: flex;
  justify-content: center;
  gap: 21px;
}
.list-icon {
  display: flex;
  align-items:center;
  gap: 12px;
}

.list-number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  width: 40px;
  height: 40px;
}

.arrowX {
  width: 46px;
  height: 46px;
}

.number {
  color: #ADADAD;
  font-size: 20px;
  font-weight: 900;
}

/* footer */
.footer-wrapper {
  background-color: var(--background-header);
}

.list-footer__icon {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-social {
  display: flex;
  gap: 36px;
}

.follow-social {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.name-company {
  margin-top: 23px;
  font-size: 18px;
  font-weight: 600;
}

.border-bottom__footer {
  margin-top: 45px;
  border-bottom: 1px solid white;
  margin-left: 60px;
  margin-right: 60px;
}

.copyright-wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: #FFF;
}